<configuration scan="true" scanPeriod="300 seconds">

    <!-- Spring -->
    <logger name="org.springframework" level="OFF"/>

    <!-- Finbot -->
    <logger name="com.recurly.finbot" level="DEBUG"/>

    <!-- hibernate query logging -->
    <!--<logger name="org.hibernate.SQL" level="DEBUG"/>-->

    <!-- hibernate parameter logging -->
    <!--<logger name="org.hibernate.type" level="TRACE"/>-->

    <root level="INFO">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE" />

    </root>

</configuration>